<!-- <h6 class='flow-text'><small>GET ME THERE.CO.ZA</small> </h6> -->
				<div class='center blue darken-1 card-panel col m7 s12'>
					<h4 class='flow-text'><small><b>Where are you going ?</b></small></h3>
					<h6> Nearest taxis to you are in  <b> {{ranks.0.name}} </b> </h6> 
					<p style='display:none;' id='latitude'></p>
					<p style='display:none;' id='longitude'></p>
				  	<div class="form-group col s12">
				    	<input type="text" id='search' class="white form-control " placeholder="Search Destination">
				  	</div>
				  	<br>
				  	<br>
				  	<h5><small> Here's how you get there</small></h5>
				  	<!-- <div id="floating-panel">
				    <b>Mode of Travel: </b>
				    <select id="mode">
				      <option value="DRIVING">Driving</option>
				      <option value="WALKING">Walking</option>
				      <option value="BICYCLING">Bicycling</option>
				      <option value="TRANSIT">Transit</option>
				    </select>
				    </div> -->
				    <div id="map" class='col s12'></div>
				</div>
			
	

				<div class="nearby_ranks yellow col s12 m5">
					
						<h2 class='flow-text'><b>Nearby Minibus Taxi's</b></h2>

						<div id="ranks-near">
							
							  <ul class="collapsible col s12 m12" data-collapsible="accordion">
							  {{#ranks}}
							    <li>

							      <div class="collapsible-header">
							      <i class="material-icons">location_on</i> {{name}} 
							      <span class='chip right blue accent-3 white-text'>
							      	<small>{{opening_time}}  - {{closing_time}} </small>
							      </span>
							      </div>
							      <div class="collapsible-body"><p>

							      {{#routes}}

                                   <small class="collection-item">{{route_name}}  <b>R{{price}}</b></small><br/>                           
                                    {{/routes}}
							       </p></div>
							    </li>

							    {{/ranks}}
							   </ul>
								
							</div>
							
						</div>
					
				</div>

				
				  <!-- Modal Structure -->
				  <div id="modal1" class="red modal modal-fixed-footer">
				    <div class="modal-content">
				      <h4>Modal Header</h4>
				      <p>A bunch of text</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
				    </div>
				  </div>